.jumbotron {
  padding-top: 6rem;

  background-color: #d4e5eb;
}

#projects {
  background-color: #d4e5eb;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0px;
}

/* My Keyboard sections */

.keyboard-box {
  position: relative;

  background-color: #0c6efd;

  border-radius: 10px;

  height: 500px;

  transform-style: preserve-3d;
}

.keyboard-box::before {
  content: "MY";

  position: absolute;

  color: #fff;

  font-size: 6em;

  font-weight: bold;

  font-style: italic;

  top: 30px;

  left: 50%;

  transform: translate(-50%, 0);

  opacity: 0;

  transition: 0.5s;
}

.keyboard-box:hover::before {
  opacity: 0.2;
}

.keyboard-box::after {
  content: "KEYBOARD";

  position: absolute;

  color: #fff;

  font-size: 4.3em;

  font-weight: bold;

  font-style: italic;

  left: 50%;

  transform: translate(-50%, 0);

  top: 350px;

  opacity: 0;

  transition: 0.5s;
}

.keyboard-box:hover::after {
  opacity: 0.2;
}

.keyboard-name {
  top: 0;

  width: 100%;

  position: absolute;

  color: #fff;

  text-align: center;

  font-size: 2em;

  opacity: 0;

  transform: translate3d(0, 0, 50px);

  transition: 0.5s;
}

.keyboard-box:hover .keyboard-name {
  top: 20px;

  opacity: 1;
}

.keyboard-detail-button {
  position: absolute;

  bottom: 0;

  left: 50%;

  transform: translate3d(-50%, 0, 100px);

  opacity: 0;

  transition: 0.5s;
}

.keyboard-box:hover .keyboard-detail-button {
  opacity: 1;

  bottom: 20px;
}

.keyboard-img {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate3d(-50%, -52%, 100px);

  max-width: 250px;

  size: cover;

  transition: 0.5s;
}

.keyboard-box:hover .keyboard-img {
  transform: translate3d(-50%, -52%, 100px) scale(1.7) rotate(-5deg);
}

.custom-header {
  background-color: #dee2e6 !important; /* Warna abu-abu */
  color: #333 !important; /* Warna teks gelap */
  font-weight: bold;
}

.experience-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.experience-title {
  font-weight: bold;
  color: #333;
}
.experience-period {
  font-style: italic;
  color: #6c757d;
}
.experience-list {
  padding-left: 20px;
}
.education-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.education-title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
.education-period {
  font-style: italic;
  color: #6c757d;
  font-size: 16px;
}
.intro-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  color: #333;
}
.intro-name {
  font-weight: bold;
  font-size: 22px;
  color: #222;
}
.intro-role {
  font-style: italic;
  color: #6c757d;
  font-size: 16px;
}
